@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background: #a1c3ff;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

img {
  max-width: 100%;
}

h1,
h2 {
  margin-bottom: 15px;
}

.logo {
  font-weight: 700;
  font-size: 24px;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
}

.navbar {
  background: #1f2937;
  color:#F9faf8;
  height: 60px;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar li {
  margin-left: 20px;
}

.header {
  display: flex;
  color: #e5e7eb;
  background: #1f2937;
  min-height: 400px;
  height: 1px;
  font-size: 18px;
}

.header h1 {
  font-size: 48px;
  font-weight: bolder;
  color:#F9faf8
  line-height: 1.2;
}

.header img {
  max-width: 400px;
}

.header .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.header .container .subtext div {
  margin-right: 150px;
  line-height: 1.5;
  padding-bottom: 15px;
}

button { 
   background: #3882f6;
  padding: 6px 18px;
  color: #fff;
  font-weight: 700;
  border-radius: 8px;
  border-style: none;
}

section {
  background: #fff;
  text-align: center;
}
.section {
  padding: 20px;
}
.section .container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  gap: 48px;
}
.section h2{
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  padding: 15px 0;
}
.section p {
  width: 150px;
  font-size: smaller;
}
.section .box img {
  width: 150px;
  height: 150px;
  border-radius: 8px;
  border-style: solid;
  border-color: #0e59db;
}

.quote {
  background: #d8d1d1dc;
  padding: 60px;
}

.quote p {
  display: inline-block;
  margin: 0 120px;
  font-size: 36px;
  font-weight: light;
  font-style: italic;
  color: #1f2937;
}

.quote span {
  display: inline-block;
  text-align: end;
  width: 85%;
  font-weight: 700;
  font-size: 16px;
}

.signup {
  padding: 80px;
  text-align: left;
}
.signup button{
  border: 2px;
  border-color: #F9faf8;
  border-style: solid;
  padding: 6px 26px;
}
.signup .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #3882f6;
  padding: 30px 0;
  color: #fff;
}

.footer {
  display: flex;
  background: #333;
  color: antiquewhite;
  margin-top: auto;
  height: 80px;
  justify-content: center;
  align-items: center;
}
