@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background: #a1c3ff;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

img {
  max-width: 100%;
}

h1,
h2 {
  margin-bottom: 15px;
}

.logo {
  font-weight: 700;
  font-size: x-large;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
}

.navbar {
  background: #333;
  color: antiquewhite;
  height: 60px;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar li {
  margin-left: 20px;
}

.header {
  display: flex;
  color: #fff;
  background: #333;
  min-height: 400px;
  height: 1px;
}

.header h1 {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.2;
}

.header img {
  max-width: 400px;
}

.header .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.header .container .subtext {
  border: 2px;
  margin-right: 150px;
  border-style: solid;
  border-color: red;
}

.header .container button {
  background: #5e87ce;
  padding: 6px 18px;
  color: #fff;
  font-weight: 700;
  border-radius: 8px;
  border-style: none;
}

section {
  background: #fff;
  text-align: center;
}

.section .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.box img {
  max-width: 100px;
  max-height: 100px;
  border-radius: 8px;
  border-style: solid;
  border-color: #0e59db;
}

.quote {
  background: #d8d1d1dc;
  padding: 60px;
}

.quote p {
  display: inline-block;
  margin: 0 120px;
  font-size: 20px;
}

.quote span {
  display: inline-block;
  text-align: end;
  width: 85%;
  font-weight: 700;
  font-size: 16px;
}

.signup {
  padding: 60px;
}

.signup .container {
  display: flex;
  justify-content: space-around;
  background: #5e87ce;
  padding: 30px 0;
  color: #fff;
}

.footer {
  display: flex;
  background: #333;
  color: antiquewhite;
  margin-top: auto;
  height: 40px;
  justify-content: center;
  align-items: center;
}
